<script setup lang="ts">
import { defineProps } from "vue";

const props = defineProps<{
  text: string;
  bg: string;
  color: string;
  class:string
}>();
</script>

<template>
  <button
    :class="props.class"
    :style="{ background: bg, color: color }"
  >
    {{ props.text }}
  </button>
</template>

<style scoped>
button {
  border: none;
  border-radius: 50px;
  font-weight: bolder;
}
</style>
