<script setup lang="ts">
import { defineProps } from "vue";

const prop = defineProps<{
  rank: string;
  section: string;
}>();
</script>

<template>
  <ul
    class="border-circle border-dashed border-white w-15rem mx-auto h-15rem flex flex-column text-white justify-content-center text-center align-content-center"
  >
    <li class="text-8xl set-first-font-family">{{ prop.rank }}</li>
    <li class="text-4xl set-first-font-family">{{ prop.section }}</li>
  </ul>
</template>

<style>
ul {
  list-style-type: none;
}
</style>
