<script setup lang="ts">
import Title from "./Title.vue";
import Button from "./Button.vue";
// import { defineComponent } from 'vue'
</script>

<template>
  <div class="grid w-full m-0 p-0 sm:h-screen h-auto">
    <div class="md:col-6 mx-auto col-12 p-0 sm:h-screen h-8rem overflow-hidden">
      <img class="img" src="Pata.png" alt="" />
    </div>
    <div
      class="md:col-6 mx-auto col-12 p-0 sm:h-screen h-auto flex flex-column justify-content-center align-items-stretch"
    >
      <Title
        msg="Delicious Pasta"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. "
        styles="text-center flex flex-column gap-8 "
        titleColor="text-red"
        descriptionColor=""
      >
      </Title>
      <Button
        class="md:w-5 flex justify-content-center w-full uppercase mx-auto my-5 px-5 py-2 text-3xl rounded-full set-first-font-family"
        text="order now"
        bg="red"
        color="white"
      />
    </div>
  </div>
</template>

<style scoped>
img {
  object-fit: cover;
}
</style>
