<script setup lang="ts">
import { defineComponent } from "vue";
import { footerData } from "../data/footer";
</script>

<template>
  <footer class="w-full mx-auto py-5">
    <div class="w-11 mx-auto">
      <ul
        class="flex sm:flex-row flex-column justify-content-between align-items-start sm:text-left text-center"
      >
        <li
          class="flex flex-column justify-content-between sm:w-3 w-full sm:mb-5 mb-0"
        >
          <h1 class="set-second-font-family text-5xl mb-2">About Us</h1>
          <p class="set-first-font-family">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
            dignissim nunc, id maximus ex. Etiam nec dignissim elit, at
            dignissim enim.
          </p>
        </li>
        <div
          class="flex sm:flex-row justify-content-around gap-2 flex-column sm:w-8 w-full"
        >
          <div
            class="flex flex-column sm:mt-0 mt-5"
            v-for="(item, index) in footerData"
            :key="index"
          >
            <li class="set-second-font-family text-4xl capitalize mb-2">
              {{ item.title }}
            </li>
            <ul class="flex flex-column set-first-font-family gap-2">
              <li
                class="hover:surface-100"
                v-for="(child, index) in item.children"
                :key="index"
              >
                <a href="#" class="no-underline text-white"
                  ><span :class="child.icon"></span> {{ child.title }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </footer>
</template>

<style scoped>
footer {
  background: black;
  color: white;
}
.set-widt {
  width: 26%;
}
</style>
