<script setup lang="ts">
import Navbar from "./Navbar.vue";
import BackgroundProvider from "../layout/BackgroundProvider.vue";
import Button from "./Button.vue";
</script>

<template>
  <BackgroundProvider h="100vh" img="Hero2.png" bgColor="hsla(0, 100%, 50%, 0.637)">
    <article
      class="flex flex-column align-items-center text-center text-white w-full sm:h-screen h-auto"
    >
      <Navbar />
      <header class="my-8">
        <h1 class="set-second-font-family text-8xl">Delicious</h1>
      </header>
      <body class="set-first-font-family my-7">
        <p class="text-4xl md:w-7 w-full mx-auto set-first-font-family">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          lacinia odio vitae vestibulum vestibulum.
        </p>

        <Button
          class="md:w-3 w-full uppercase mx-auto my-5 px-5 py-2 text-3xl rounded-full set-first-font-family"
          text="order now"
          bg="white"
          color="red"
        />
      </body>
    </article>
  </BackgroundProvider>
</template>

<style scoped>
:root {
  --first-color: ;
}

button {
  border: none;
  border-radius: 50px;
  color: red;
  font-weight: bolder;
}
</style>
