<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    const viewMenuMobile = ref(false);
    const icon = ref("pi-align-justify");
    function menuHandlerEvent() {
      viewMenuMobile.value = !viewMenuMobile.value;
      if (icon.value != "pi-times") icon.value = "pi-times";
      else icon.value = "pi-align-justify";
    }

    return {
      viewMenuMobile,
      menuHandlerEvent,
      icon,
    };
  },
});
</script>

<template>
  <div class="">
    <div class="flex gap-5 justify-content-center align-items-center mt-5">
      <img class="" src="Logo.svg" alt="" />
      <button
        @click.prevent="menuHandlerEvent"
        :class="'pi text-3xl sm:hidden block ' + icon"
      ></button>
    </div>
    <ul
      :class="
        viewMenuMobile
          ? 'flex justify-content-center text-center set-heigth gap-5 align-items-center flex-column flex-wrap uppercase font-bold set-first-font-family mt-5 text-xl'
          : 'sm:flex justify-content-between hidden gap-5 align-items-center flex-row flex-wrap uppercase font-bold set-first-font-family mt-5 text-xl'
      "
    >
      <li class="sm:w-auto py-2 px-2 w-full">
        <a class="no-underline text-white" href="/home">Home</a>
      </li>
      <li class="sm:w-auto py-2 px-2 w-full">
        <a class="no-underline text-white" href="/product">Product</a>
      </li>
      <li class="sm:w-auto py-2 px-2 w-full">
        <a class="no-underline text-white" href="/promo">Promo</a>
      </li>
      <li class="sm:w-auto py-2 px-2 w-full">
        <a class="no-underline text-white" href="/about">About</a>
      </li>
      <li class="sm:w-auto py-2 px-2 w-full">
        <a class="no-underline text-white" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</template>

<style scoped>
ul {
  list-style-type: none;
}

button {
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: none;
  border-radius: 5px;
}
.set-heigth {
  height: 50vh;
}
ul li:active {
  border-radius: 10px;
  background-color: black;
}
</style>
