<script setup lang="ts">
import BackgroundProvider from "../layout/BackgroundProvider.vue";
</script>

<template>
  <BackgroundProvider img="ChefBg.png" bgColor="hsla(0, 0%, 100%, 0.418)">
    <div class="grid w-full h-screen m-auto text-center py-8">
      <div class="col-12">
        <div
          class="flex justify-content-center align-items-center border-circle overflow-hidden"
        >
          <img
            class="flex justify-content-center align-items-center w-15rem h-15rem border-circle"
            src="chef.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-12">
        <p class="sm:w-8 w-full text-4xl set-first-font-family m-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          lacinia odio vitae vestibulum vestibulum.
        </p>
      </div>
      <div class="col-12 text-6xl set-second-font-family text-red text-4xl sm:mb-0 mb-5">
        <h3>Chef Renatta</h3>
      </div>
    </div>
  </BackgroundProvider>
</template>

<style scoped>
section {
  background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.418) 0%,
      hsla(0, 0%, 100%, 0.562) 35%
    ),
    url(ChefBg.png);
}
</style>
