<script setup lang="ts">
import BackgroundProvider from "../layout/BackgroundProvider.vue";
import Title from "./Title.vue";
import CardStatistic from "./CardStatistic.vue";
</script>

<template>
  <BackgroundProvider img="statistic.png" bgColor="hsla(0, 100%, 50%, 0.637)">
    <article>
      <Title
        msg="Our Statistic"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum."
        styles="text-center text-white flex flex-column gap-8 pt-5"
      >
      </Title>
      <div class="flex md:flex-row flex-column w-10 mx-auto row-gap-5">
        <CardStatistic rank="153" section="Menu" />
        <CardStatistic rank="3.4K" section="Store" />
        <CardStatistic rank="32" section="Country" />
      </div>
    </article>
  </BackgroundProvider>
</template>

<style scoped></style>
