<script setup lang="ts">
import { defineProps } from "vue";

const prop = defineProps<{
  msg: string;
  description: string;
  styles: string;
  titleColor: string;
  descriptionColor: string;
}>();
</script>

<template>
  <div :class="styles">
    <h1 class="text-center text-8xl set-second-font-family" :class="titleColor">
      {{ prop.msg }}
    </h1>
    <p
      class="text-4xl md:w-7 w-full mx-auto set-first-font-family"
      :class="descriptionColor"
    >
      {{ prop.description }}
    </p>
  </div>
</template>
<style scoped></style>
