<script setup lang="ts">
import Hero from "./components/Hero.vue";
import Statistic from "./components/Statistic.vue";
import Delicious from "./components/Delicious.vue";
import Profile from "./components/Profile.vue";
import Footer from "./components/Footer.vue";
</script>

<template>
  <Hero />
  <Statistic img="statistic.png" bgColor="hsla(0, 100%, 50%, 0.637)" />
  <Delicious />
  <Profile />
  <Footer />
  <!-- <Layout msg="hola mundo" /> -->
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
