@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --second-font-family: "Grand Hotel", cursive;
  --first-font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.set-first-font-family {
  font-family: var(--first-font-family);
}
.set-second-font-family {
  font-family: var(--second-font-family);
}

.text-red {
  color: red;
}
