<script setup lang="ts">
import { defineProps } from "vue";

const { img, bgColor } = defineProps<{
  img: string;
  bgColor: string;
}>();

const backgroundStyle = {
  background: `linear-gradient(90deg, ${bgColor} 0%, ${bgColor} 35%), url(${img})`,
  backgroundSize: "cover",
  backgroundRepeat: "no-repeat",
};
</script>

<template>
  <article :style="backgroundStyle" class="md:h-screen h-auto flex flex-column gap-8">
    <slot></slot>
  </article>
</template>

<style scoped></style>
